// File: custom.scss

// Define your variable overrides here
//$enable-shadows: true;
//$enable-gradients: true;
//$grid-breakpoints: (
//        xs: 0,
//        sm: 456px,
//        md: 789px,
//        lg: 999px,
//        xl: 1234px
//);
//$bv-enable-table-stacked: false;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

/************************************************************************
 * Кастомизация темы
 ************************************************************************/

/**
 * Общий стиль приложения
 */

* {
    font-family: 'Roboto', sans-serif;
}

html, body{
    background-color: #1862b6;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

/**
 * Основной стиль темы
 */

/* Поля ввода */

/* TODO: объединить */
input.form-control, select.custom-select{
    border-radius: 20px !important;
    height: 43px;
    padding-left: 65px;
    border-color: rgba(0,0,0,0) !important;
    background-color: #e6e6e6;
    margin: 5px 0 5px 0;
    color: #495057 !important;
}

input.form-control::placeholder, select.custom-select::placeholder {
    color: #757575 !important;
}

input.form-control:focus, select.custom-select:focus{
    color: inherit !important;
    background-color: #e6e6e6 !important;
    outline: inherit !important;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3) !important;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3) !important;
}
input.form-control.icon, select.custom-select.icon{
    background-size: auto !important;
    background-position-x: 30px;
    background-position-y: center;
    background-repeat: no-repeat;
}






/* Списки (отдельно) */

.was-validated .custom-select:invalid, input.form-control.select, select.custom-select, select.custom-select.is-invalid{
    padding-right: 50px;
    background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiBmb2N1c2FibGU9ImZhbHNlIiByb2xlPSJpbWciIGFsdD0iaWNvbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjNzU3NTc1IiBjbGFzcz0iYmktY2FyZXQtZG93bi1maWxsIG14LWF1dG8gYi1pY29uIGJpIj48ZyBkYXRhLXYtODg5MmI5MjQ9IiI+PHBhdGggZD0iTTcuMjQ3IDExLjE0TDIuNDUxIDUuNjU4QzEuODg1IDUuMDEzIDIuMzQ1IDQgMy4yMDQgNGg5LjU5MmExIDEgMCAwMS43NTMgMS42NTlsLTQuNzk2IDUuNDhhMSAxIDAgMDEtMS41MDYgMHoiPjwvcGF0aD48L2c+PC9zdmc+") #e6e6e6 no-repeat right 2rem center !important;
    background-size: 8px 10px !important;
}
select.custom-select {
    padding-left: 61px; /* TODO: убрать лишний отступ у select'а, сделать по-нормальному */
}






/* Чекбоксы */

div.custom-control.custom-checkbox > label::before, div.custom-checkbox > label::after {
    left: -35px !important;
}
div.custom-control.custom-checkbox{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 65px;
    padding-right: calc(65px / 2);
}








/* Кнопки */

/* TODO: фикс уменьшения кнопки после расфокуса */
/* TODO: фикс затемнение текста */

button.custom-btn[type="submit"], button.custom-btn.submit{
    margin-top: calc(43px / 2) !important;
    margin-bottom: calc(43px / 2) !important;
}

button.custom-btn{
    text-transform: uppercase;
}

button.custom-btn{
    border-color: rgba(0,0,0,0) !important;
    border-radius: 20px !important;
    height: 43px;
    margin: 5px 0 5px 0;
    background-color: #6c757d; /*  !important */
}

button.custom-btn:active{
    color: #FFFFFF !important;
    outline: inherit !important;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3) !important;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3) !important;
    background-color: #545b62 !important;
    border-color: rgba(0,0,0,0) !important;
}

button.custom-btn:focus{
    color: #FFFFFF !important;
    outline: inherit !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(0,0,0,0) !important;
}

button.custom-btn:hover{
    border-color: rgba(0,0,0,0) !important;
}

button.custom-btn.info-block-button{
    margin-bottom: 0 !important;
}

button.delete_btn
{
    color: #dc3545;
    background-color: transparent;
    opacity: .65;
    border-color: #dc3545;
}
button.delete_btn.disabled, button.delete_btn:disabled
{
    color: #f8f9fa;
    background-color: transparent;
    opacity: .65;
    border-color: #f8f9fa;
}
button.delete_btn:hover
{
    color: white;
    border-color: #dc3545;
}
button.delete_btn.disabled:hover
{
    border-color: transparent;
    cursor: auto;
}

    /* Ссылки */

a{
    color: #757575;
    text-decoration: underline;
}

b-link{
    color: #b5b5b5;
}

b-form-checkbox{
    width: 200px;
}







/* Ссылки: соц. сети */
a.social {
    transition: filter 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
a.social:hover{
    filter: drop-shadow(0 0 3px rgba(255,255,255,0.5));
    color: #044c85;
    border-color: #044c85;
}
a.social:active{
    filter: drop-shadow(0 0 3px rgba(255,255,255,0.5));
    color: #033760;
    border-color: #033760;
}






/* Иконки */

input.icon.envelope{
    background-image: url("~@/assets/icons/envelope.svg");
}

input.icon.lock-fill{
    background-image: url("~@/assets/icons/lock-fill.svg");
}

input.icon.person-lines-fill{
    background-image: url("~@/assets/icons/person-lines-fill.svg");
}

input.icon.house-fill{
    background-image: url("~@/assets/icons/house-fill.svg");
}

input.icon.house-door-fill{
    background-image: url("~@/assets/icons/house-door-fill.svg");
}

input.icon.phone{
    background-image: url("~@/assets/icons/phone.svg");
}

input.icon.briefcase-fill{
    background-image: url("~@/assets/icons/briefcase-fill.svg");
}

input.icon.building{
    background-image: url("~@/assets/icons/building.svg");
}







/* Информационные выпадающие блоки */

div.info-block{
    background-color: #e8e8e8;
    border-radius: 0 0 10px 10px;
    width: 100%;
    margin-top: 0 !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 0;
}

p.info-block-text{
    text-align: center;
    color: black;
    margin: 10px;
}







/**
 * Дополнительный стиль темы
 */

/* Кнопки */
/* TODO: убрать баг с обводкой кнопки */
button.theme-alt{
    text-transform: uppercase !important;
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
    font-weight: lighter !important;
    padding: 15px !important;
    border-radius: 10px !important;
}

button.theme-alt:hover, button.theme-alt:active, button.theme-alt:focus, button.theme-alt.selected{
    color: #fff;
    //background-color: rgba(0,0,0,0.2) !important;
    background-color: #165aa7 !important;
    border-color: rgba(0,0,0,0) !important;
}

button.theme-alt:active, button.theme-alt:focus{
    color: #FFFFFF !important;
    outline: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    //background-color: rgba(0,0,0,0.4) !important;
    background-color: #165aa7 !important;
    border-color: rgba(0,0,0,0) !important;
}

button.background-green{
    background-color: #28a745;
}

button.background-red{
    background-color: #c82333;
}

.btn-sm{
    padding: 5px !important;
    height: 30px !important;
    //transform: scale(0.9);
    font-size: 9pt !important;
}




/**
 * Группы форм
 */
fieldset.form-group{
    margin-bottom: 0rem !important;
}

[type="search"]{
    margin: 5px 0 !important;
}